# See https://www.dartlang.org/guides/libraries/private-files

# Files and directories created by pub
taxee_client/.dart_tool/
taxee_client/.packages
taxee_client/build/
# If you're building an application, you may want to check-in your pubspec.lock
taxee_client/pubspec.lock

# Directory created by dartdoc
# If you don't generate documentation locally you can remove this line.
taxee_client/doc/api/

# Avoid committing generated Javascript files:
taxee_client/*.dart.js
taxee_client/*.info.json
taxee_client/*.js
taxee_client/*.js_
taxee_client/*.js.deps
taxee_client/*.js.map

# Config files
*/.vscode/
