@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

nav {
  position: relative;
  z-index: 1;
  background-color: black;
}

/* Utility classes */
.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.transparent {
  background-color: transparent;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.hide {
  display: none!important;
}

/* Elements */
#output {
  padding: 20px;
  text-align: center;
}

.floating-search {
  padding: 3%;
  width: 300px;
}

.search {
  box-sizing: border-box;
  border-radius: 6px;
  padding: 1% 5%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: inherit;
  background-color: white;
}

.searchbox {
  border: 0;
  padding: 5%;
  width: inherit;
  font-size: 18px;
  outline: none;
  background-color: inherit;
}

.icon {
  cursor: pointer;
  font-size: 18px;
  width: 10%;
}

.search-inputs {
  width: 80%;
}

.search-results {
  margin-top: -3%;
  padding: 3% 0 0 0;
  z-index: 1;
}

.search-area {
  z-index: 2;
}

.result {
  /* padding: 0 5%; */
  width: 100%;
  justify-content: unset!important;
  box-sizing: border-box;
}

.result:hover {
  background-color: rgb(224, 224, 224);
  cursor: pointer;
}

.nil-results {
  color: grey;
  font-size: 15px;
}

.distance {
  padding: 0 0 0 4%;
  font-size: 10px;
  width: 20%;
  text-align: center;
  color: gray;
}

.system-name {
  width: 80%;
  padding: 0 4%;
}

.navbar {
  justify-content: space-between;
}

.map {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 0;
  background-color: black;
}